@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #009688;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

/* Classes  */
.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.description {
    font-size: 20px;
}

.title {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    width: 420px;
}



.container-white {
    justify-content: flex-end;
    background-color:rgb(228, 228, 228);
    padding: 0px 10%;
    color: black;
}

.container-black {
    justify-content: flex-end;
    padding: 0px 10%;
    background-color: rgb(59, 59, 59);
    color: white;
}

.container-white-image, .container-black-image{
    padding: 0px 60px 0px 0px
}

.container-green {
    justify-content: flex-start;
    padding: 0px 10%;
    background-color: #009688;
}

.container-green-image {
    padding: 0px 0px 0px 60px;
}




/* Intro section */
#twistify-intro {
    background-image: url("undraw_mobile_user_7oqo.svg");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right bottom;
}

#twistify-info {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#twistify-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
#twistify-title {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

#twistify-subtitle {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

#overview{
    font-size: 20px;
}

#twistify-info-image {
    padding: 0px 0px 0px 50px;
}


/* Practice Phrases Information */
#twistify-practice {
    background-image: url("undraw_speech_to_text_9uir.svg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: left bottom;
}


/* Challenge Information */
#twistify-challenge {
    background-image: url("undraw_personal_opinions_g3kr.svg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: right bottom;
}

#twistify-dark-mode {
    background-image: url("undraw_night_calls_5jh7.svg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: left bottom;
}

#twistify-end {
    justify-content: center;
    text-align: center;
    background-image: url("undraw_recording_lywr.svg");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right bottom;
}

@media (max-width: 600px) {
    .page-container {
        padding: 50px 60px;
        flex-direction: column;
        height: 1200px;
        background-size: 400px;
        justify-content: flex-start;
    }

    .container-white, 
    .container-black {
        justify-content: flex-end;
        flex-direction: column-reverse;
    }

    .container-white-image,
    .container-green-image,
    .container-black-image {
        padding: 0px;
    }

    .info {
        padding: 0px 0px 60px 0px;
        width: 100%;
    }

    #twistify-info {
        width: 100%;
        padding: 0px 0px;
    }

    #twistify-info-image {
        padding: 0px;
    }
}

